*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.productList{
    display: flex;
    flex-direction: column;
    padding: 0 4.75rem;
}
.itemList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top:1rem;
}
.title{
    font-size:1.5rem;
    font-weight: 600;
}
