.itemContainer{
  width: 264px;
}
.imgContainer {
  position: relative;
  cursor: pointer;
}
.productImg {
  height: 210px;
  width: 264px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
}

.bookmarkIconOff {
  position: absolute;
  top: -25px;
  right: 12px;
}

.discription > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
h3 {
  font-size:1rem;
}
.exhibition {
  flex-direction: column;
}

.discount {
  text-align: right;
  font-weight: 800;
  color: #452cdd;
}
.follower {
  font-weight: 700;
}
.follower_number {
  text-align: right;
  margin-top: 0.4rem;
}
.sub_title{
  margin-top: 0.4rem;
}
.price{
  margin-top: 0.4rem;
}