*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.logo a{
    display: flex;
    align-items: center;
    font-size:30px;
    color:black;
    cursor: pointer;
    font-weight: 700;
}
.logo :first-child{
    padding-right:10px;
}

.menu{
    font-size: 30px;
    cursor: pointer;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 68px;
    position:sticky;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.bubble {
    position: absolute;
    right: 20px;
    top: 65px;
    width: 200px;
    height: 172px;
    padding: 10px 0; /* 자식 요소 간의 여백을 조정하기 위한 패딩 값 */
    background:white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.1));
  }
  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 11px 15px;
    border-color: white transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 127px;
  }

  .bubble > a {
     border-top: 1px solid rgba(0, 0, 0, 0.1);
     padding-top: 15px;
    } 
